{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Artist{% endblock  %}

{% block content %}

<h1 class="title pt-5">Search for a medication</h1>
<div class="container">
  {% for database in databases %}
  <a href="">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">Brand name: {{database.brand_name}} </br> Generic name: {{database.generic_name}} 
        </p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Medications Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}